<p-drawer header="Kakashi Vintage Tee" [(visible)]="visibleDetalle" position="right" (onHide)="onEmitclose.emit(false)"
    styleClass="!w-full md:!w-80 lg:!w-[40rem]">

    <div class="flex flex-row-reverse gap-3">
        <div class="w-[20%]  flex flex-col gap-3 overflow-y-auto max-h-[600px]">
            <div class="shrink-0 flex justify-around shadow-md overflow-hidden rounded">
                <img src="https://lacamiseta.com.co/cdn/shop/products/camiseta_anime_naruto_kakashi_sasuke_para_ninos_hombre_mujer_colombia_moda_11.jpg?v=1622562916"
                    class="w-[95%]">
            </div>
            <div class="shrink-0 flex justify-around shadow-md overflow-hidden rounded">
                <img src="https://lacamiseta.com.co/cdn/shop/products/camiseta_anime_naruto_kakashi_sasuke_para_ninos_hombre_mujer_colombia_moda_11.jpg?v=1622562916"
                    class="w-[95%]">
            </div>
            <div class="shrink-0 flex justify-around shadow-md overflow-hidden rounded">
                <img src="https://lacamiseta.com.co/cdn/shop/products/camiseta_anime_naruto_kakashi_sasuke_para_ninos_hombre_mujer_colombia_moda_11.jpg?v=1622562916"
                    class="w-[95%]">
            </div>
            <div class="shrink-0 flex justify-around shadow-md overflow-hidden rounded">
                <img src="https://lacamiseta.com.co/cdn/shop/products/camiseta_anime_naruto_kakashi_sasuke_para_ninos_hombre_mujer_colombia_moda_11.jpg?v=1622562916"
                    class="w-[95%]">
            </div>
            <div class="shrink-0 flex justify-around shadow-md overflow-hidden rounded">
                <img src="https://lacamiseta.com.co/cdn/shop/products/camiseta_anime_naruto_kakashi_sasuke_para_ninos_hombre_mujer_colombia_moda_11.jpg?v=1622562916"
                    class="w-[95%]">
            </div>
            <div class="shrink-0 flex justify-around shadow-md overflow-hidden rounded">
                <img src="https://lacamiseta.com.co/cdn/shop/products/camiseta_anime_naruto_kakashi_sasuke_para_ninos_hombre_mujer_colombia_moda_11.jpg?v=1622562916"
                    class="w-[95%]">
            </div>

        </div>
        <div class="w-[80%]  flex justify-center overflow-hidden rounded">
            <img src="https://lacamiseta.com.co/cdn/shop/products/camiseta_anime_naruto_kakashi_sasuke_para_ninos_hombre_mujer_colombia_moda_11.jpg?v=1622562916"
                class="w-[95%]">
        </div>

    </div>
    <div class="flex items-center gap-2 text-xl w-fit">
        <p class="font-medium mb-0">Codigo diseño:</p>
        <small>D56</small>
    </div>

    <!-- div de los detalles -->
    <div class="py-2 px-2 mt-5 border">
        <div class="tipo_telas"></div>
        <div class="colores"></div>
        <div class="tallas"></div>

    </div>

</p-drawer>